.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  font-family: "Arial";
}

.App > h1 {
  color: #f2f2f2;
  margin-bottom: 0px;
  margin-top: 50px;
}

.App > h5 {
  color: #f2f2f2;
  margin-top: 2px;
}
